---
layout: default
title: Homepage
---
<div class="font-sans">
  {% for post in site.posts %}
  <div class="bg-white max-w-md mx-auto my-4 border border-grey-light shadow">
    {% include post-content.html %}
  </div>{% endfor %}
</div>

<script src="//unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="//unpkg.com/jscroll/dist/jquery.jscroll.min.js"></script>

<script type="text/javascript">
// content selector is used to extract the additional items 
$('.font-sans').jscroll({
    contentSelector: ".font-sans",
    nextSelector: '.next',
    debug: true,
    loadingHtml: "<small>Sambil loading...</small>"
});
</script>