<div class="header-wrap bg-yellow-dark">

    <header class="px-2 py-1 sm:px-4 sm:py-2 flex items-center">
        <div class="brand px-1 flex items-center h-12 text-2xl ml-4">
            <div class="auth__account w-8 mx-3 cursor-pointer"><span class="ml-2"><img class="" src="{{ '/assets/png/tiger.png' | relative_url }}"
                        alt="" width="64px" height="64px"></span></div>
            <span class="font-sm hidden sm:inline">wikipajak.org</span>
        </div>
        {% comment %}{% endcomment %}
        <div class="wrap ml-auto md:ml-8 flex items-end md:justify-between md:flex-1">
            <form class="search-wrap md:flex-1 md:max-w-md">
                <div class="search flex items-center bg-transparent md:bg-dark rounded overflow-hidden">
                    <button class="text-yellow-darker hover:text-black px-3 flex items-center flex-no-shrink h-12 text-sm px-4 rounded"
                        type="button">
                        <svg class="fill-current" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                        </svg>
                    </button>
                    <input class="hidden md:flex appearance-none bg-transparent border-none w-full h-12 rounded px-3"
                        type="text" placeholder="Search..." aria-label="Search">

                    <button class="search__clean hidden md:flex flex-no-shrink h-12 px-4 rounded" type="button">
                        <svg class="fill-current" focusable="false" height="24px" viewBox="0 0 24 24" width="24px"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        
    </header>

</div>
<!--#Header from codepen.io google keep -->