---
# Only the main Sass file needs front matter (the dashes are enough)
---
.post-content {
    img {
        -webkit-filter: sepia(.2) brightness(1.15) saturate(1.4);
        filter: sepia(.2) brightness(1.15) saturate(1.4)
    }
}

.post-content {
    img::before {
        background: rgba(125, 105, 24, .1);
        content: "";
        mix-blend-mode: multiply
    }
}

/* 
⚠️
colors could be added to tailwind.js config file 
*/

.bg-brand{
    background: rgb(255, 187, 0);
  }
  .bg-dark{
    background: rgba(0,0,0,.08);
  }
  .hover\:bg-dark:hover{
    background: rgba(0,0,0,.08);
  }
  @media (min-width: 768px){
    
    .md\:bg-dark{
      background: rgba(0,0,0,.08);
    }
    /* some interactivity */
    .search{
      transition: all .3s;
    }
    .search:hover{
      background: #ffffff;
      color: #000;
    }
    .search__clean{
      opacity:0;
      transition: all .3s;
    }
    .search:hover .search__clean{
      opacity: 1;
    }
    
  }
  
  /* some resets */
  :focus{
    outline:none!important;
    border:none;
  }